.div-2{
    color: brown;
}

.div-3{
    font-family: fantasy;
}

.div-1{
    font-style: italic;
    font-family: 'Source Code Pro', monospace;
}

.bangla{
    font-family: সুইট শ্রেয়ম;
}